ol a {
  color: blue;
  
}
  
p a {
  color: blue;
  
}

th{
  background-color: white;
  
}
.ok{
  background-color: white;
  background-position:center;
  colour: black;
    width: 1000px;          
  margin: 50px auto;
  border: 10px solid black;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
}
.img{
    
}
.jean{
  background-position:center;
}

.button{
    position: fixed;       
    bottom: 20px;           
    right: 20px;            
    padding: 12px 20px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.button:hover {
    background-color: #777B7E;
}

h1 {
  color:black;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 40px;
}



body {
background-image: url(coulfond.jpg);
background-attachment: fixed;
background-size: cover;
padding: 40px;

}




img {
  border-radius: 12px;
}






.fond{
  background-color: white;
  background-position: center;
  width:1000px;
  padding:100px;
  margin: 0 auto;
  background-size: cover;
}

.fond {
  padding: 15px;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.fond:hover {
  transform: translateY(-5px);
}


.fond img:hover {
  transform: scale(1.03);
  transition: 0.3s ease;
}

.fond {
  animation: fadeIn 1s ease;
}

.lien{
  background-color: black;
  width:8%;
  padding: 5px;
  border-radius: 15px;
  top:50%;
}

.lie{
  background-color: black;
  width:11%;
  padding: 5px;
  border-radius: 15px;
    float:right;

  
}
a{
  color:white;
}
.li{
  background-color: black;
  width:12%;
  padding: 5px;
  border-radius: 15px;
}
.l{
  background-color: black;
  width:9%;
  padding: 5px;
  border-radius: 15px;
    float:right;

}

