body{
  background-image: url("trépiedsfond.jpg");
  background-size: cover;
  
}
th{
  background-color: green
  
}
.ok{
  background-color: white;
  background-position:center;
  colour: black;
    width: 60%;          /* largeur plus petite */
  margin: 50px auto;
  border: 10px solid black;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}
}
.img{
    
}





lien:https://www.ebay.fr/itm/396702331341(pour l'image du tableau dans la page 1 Le trépieds intelligent)
https://www.alamyimages.fr/camera-de-cinema-vintage-sur-trepied-rendu-3d-image388644141.html(pour l'image du tableau page 1 le Trépieds cinématographique)
